<h2 class="title">Anmelden</h2>

<form class="auth-form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field appearance="fill">
    <mat-label>E-Mail</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Passwort</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Login
  </button>
</form>

<p class="switch">
  Noch kein Konto?
  <a routerLink="/register">Registrieren</a>
</p>


