<h2 class="title">Registrieren</h2>

<form [formGroup]="form" (ngSubmit)="register()" class="register-form">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>PLZ</mat-label>
    <input matInput formControlName="zipCode" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Stadt</mat-label>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Straße und Hausnummer</mat-label>
    <input matInput formControlName="streetAndNumber" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>E-Mail</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Passwort</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
    {{ isLoading ? 'Wird registriert...' : 'Registrieren' }}
  </button>

  <button mat-button (click)="goToLogin()" [disabled]="isLoading">Zurück zum Login</button>

</form>
